#!/bin/bash
###############################################################################
# ME6Eアプリスタートアップスクリプトサンプル
# アプリ起動時にメインループ起動前に呼ばれる。
#
# staticな経路の追加や、ME6Eの起動と共に実行させたい
# アプリケーションの起動など、必要な処理を記述すること。
###############################################################################

# 以下に、必要な処理を追加する。

exit 0

